<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.aldk50.HaiwellAddressTool" android:versionCode="1">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Haiwell address tool" android:icon="@drawable/icon" />
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
</manifest>